<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <ng-container *ngFor="let mn of menus">
          <div class="left-sidebar" *ngIf="mn.children !=null">
            
            <h2>{{mn.category_name}}</h2>
  
          
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
  
              <ng-container *ngFor="let m of mn.children">
              <div  class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian"[routerLink] = "['/product/list',m.category_id]">
                      <span class="badge pull-right"><i ></i></span>
                      {{m.category_name}}
                    </a>
                  </h4>
                </div>
              </div>
            </ng-container>
  
  
             
            </div><!--/category-products-->
            <ng-container *ngFor="let x of brands">
          
            <div class="brands_products" *ngIf="x.children !=null"><!--brands_products-->
              <h2>{{x.brand_name}}</h2>
  
              <div class="brands-name" >
                <ul class="nav nav-pills nav-stacked"  id="accordian">
                  <ng-container *ngFor="let i of x.children">
                  <li style="color: #696763;     text-decoration: none;"><a data-toggle="collapse" data-parent="#accordian" [routerLink] = "['/product/listb',i.brand_id]" > <span class="pull-right">(50)</span>{{i.brand_name}}</a></li>
                
                  </ng-container> 
                </ul>
              </div>
            </div><!--/brands_products-->
          </ng-container> 
          <div class="price-range"><!--price-range-->
            <h2>Price Range</h2>
            <div class="well text-center">
               <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
               <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
          </div><!--/price-range-->
          <div class="shipping text-center"><!--shipping-->
            <a routerLink="/chitiet"><img src="./assets/images/home/1.jpg" alt="" /></a>
            </div><!--/shipping-->

            <div class="shipping text-center"><!--shipping-->
              <a routerLink="/chitiet"><img src="./assets/images/home/5.jpg" alt="" /></a>
              </div><!--/shipping-->
            
           
          
          </div>
        </ng-container>
      </div>
      
      <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="col-sm-5">
            <div class="view-product">
              <img src="./assets/images/SanPham/{{item.product_image}}" alt="" />
              <h3>ZOOM</h3>
            </div>
           
          </div>
          <div class="col-sm-7">
            <div class="product-information"><!--/product-information-->
              <img src="./assets/images/product-details/new.jpg" class="newarrival" alt="" />
              <h2>{{item.product_name}}</h2>
              <h2>CPU:{{item.product_CPU}}</h2>
								<h2>Ram:{{item.product_Ram}}</h2>
								<h2>Card màn hình:{{item.product_VGA}}</h2>
								<h2>Mô tả:{{item.product_desc}}</h2>
              <img src="./assets/images/product-details/rating.png" alt="" />
              <span>
                <span>{{item.product_price | currency:'VND'}}</span>
                <!-- <label>Quantity:</label>
                <input name="qty" type="number" min="1" max="20" value="1" /> -->

                 <button type="button" class="btn btn-fefault cart">
                  <a (click)="addToCart(item)"><i class="fa fa-shopping-cart">Add to cart</i></a>
                  
                </button>
              </span>
              <p><b>Availability:</b> In Stock</p>
              <p><b>Condition:</b> New</p>
              <p><b>Brand:</b> E-SHOPPER</p>
              <a href=""><img src="./assets/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
            </div><!--/product-information-->
          </div>
        </div><!--/product-details-->
        
        <div class="category-tab shop-details-tab"><!--category-tab-->
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li><a href="#details" data-toggle="tab">Details</a></li>
              <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
              <li><a href="#tag" data-toggle="tab">Tag</a></li>
              <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
            </ul>
          </div>
          <div class="tab-content">
           
            
           
           
            
            <div class="tab-pane fade active in" id="reviews" >
              <div class="col-sm-12">
                <ul>
                  <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                  <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                  <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p><b>Write Your Review</b></p>
                
                <form action="#">
                  <span>
                    <input type="text" placeholder="Your Name"/>
                    <input type="email" placeholder="Email Address"/>
                  </span>
                  <textarea name="" ></textarea>
                  <b>Rating: </b> <img src="./assets/images/product-details/rating.png" alt="" />
                  <button type="button" class="btn btn-default pull-right">
                    Submit
                  </button>
                </form>
              </div>
            </div>
            
          </div>
        </div><!--/category-tab-->

        <div class="recommended_items"><!--recommended_items-->
          <h2 class="title text-center">Sản phẩm tương tự</h2>
          <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">	
                <ng-container *ngFor="let item of tuongtu ">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                      <a [routerLink]="['/product/chitiet',item.product_id]"><img src="./assets/images/SanPham/{{item.product_image}}" alt="" /></a>
                        <h2>{{item.product_price | currency:"VND"}}</h2>
                       <a [routerLink]="['/product/chitiet',item.product_id]"><p>{{item.product_name}}</p></a> 
                        <a (click)="addToCart(item)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              </div>
            </div>
             <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
              <i class="fa fa-angle-left"></i>
              </a>
              <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
              <i class="fa fa-angle-right"></i>
              </a>			
          </div>
       
        </div><!--/recommended_items-->
      
        
      </div>
    </div>
  </div>
</section>